[Unit]
Description=Datalogger is a data logger and recorder.
After=syslog.target

[Service]
Type=simple
User=pi
Group=users
ExecStart=/usr/local/bin/loggerd server --file /etc/datalogger/config.ini
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
