[Unit]
Description=mbox-agent is a async  data collector and recorder.
After=syslog.target

[Service]
Type=simple
User=pi
Group=users
ExecStart=/usr/local/bin/loggerd server --file /etc/mbox-agent/config.ini
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
